body{
    margin:0;
}
.all{
        width: 100%;
        height: 100vh;;
        background-image: url('https://data.ac-illust.com/data/thumbnails/c1/c11f02e54b961dde166c402c4b5850dc_w.jpeg');
        background-position: center;
        background-size: cover;
    }
.left-bar{
        width:250px;
        height:100vh;
        background-color: rgba(186, 194, 1790, .5);
        float:left; 
        
}

.right-main{
        width: calc(100% - 250px);
        height: calc(50vh + 250px);
        background-color:rgba(241, 233, 233, 0.5);
        float:left; 
        padding-top: calc(50vh - 250px);
    }
.main{
    width: 90%;
    height: 500px;
    background-color: aqua;
    margin-right: auto;
    margin-left: auto;
}
.box1{
        width:34%;
        height:100%;
        background-image: url("https://live.staticflickr.com/2736/4469933805_545129e117_z.jpg");
        background-position: center;
        background-size: cover;
        float:left;
    }
.box1-hover{    
        width:100%;
        height:100%;
        background-color: rgba(163, 163, 163, 0.5);
        display: none;
    } 
.box1:hover .box1-hover{
        display: block;
    }  

.box2{
        width:33%;
        height:100%;
        background-image: url("https://c.pxhere.com/images/f3/6f/7b4a2ab9fff10fd2d8fbf155b742-1442797.jpg!d");
        background-position: center;
        background-size: cover;
        float:left;
    }

.box2:hover .box1-hover{
        display: block;
    }  
.box3{
        width:33%;
        height:100%;
        background-image: url("https://farm3.staticflickr.com/2817/9198103363_c47ef5e4be_b.jpg");
        background-position: center;
        background-size: cover;
        float:left;
}

.box3:hover .box1-hover{
    display: block;
} 
.logo{
    width: 60px;
    height: 60px;
    background-color: yellow;
    margin:100px auto;
    /* float: left; */
}
.link-group{
        list-style-type:none;
        display: flex;
        flex-direction: column;
}
li{
    /* background-color: rgb(70, 184, 184); */
    color: rgb(37, 33, 27);
    padding: 10px;
    margin:5px 30px;

}
a{
	transition: all 0.5s;
	position: relative; 
	}

	a span{
	z-index: 2; 
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;   
	}
	a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background-color: rgba(0,0,0,0.2);
	transition: all 0.4s;
	transform: scale(0.5, 1);
	}
	a:hover::before{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	}
	

@media screen and (max-width: 1280px)
{

.main{
        width: 80%;
        background-color: aqua;
        margin-right: auto;
        margin-left: auto;
    }
.box1{
        width:100%;
        height:250px;
    }
.box2{
        width:50%;
        height:250px;
    }
.box3{
        width:50%;
        height:250px;
}
}
@media screen and (max-width: 768px)
{
    .right-main{
        width: 100%;
        padding:auto;
    }
    .main{
        width: 100%;
        background-color: aqua;
        margin-right: auto;
        margin-left: auto;
    }
.box1{
        width:100%;
        height:250px;
    }
.box2{
        width:50%;
        height:250px;
    }
.box3{
        width:50%;
        height:250px;
}
.left-bar{
        width: 100%;
        height:20vh;
        display: flex;
        align-items:center;
}
    .main{
        width: 100%;
        background-color: aqua;
        }
.link-group{
        display: flex;
        list-style-type:none;
        flex-direction: row;
        }
li{
    background-color: rgb(70, 184, 184);
    color: antiquewhite;
    padding: 10px;
    margin:0 15px;

}

}
@media screen and (max-width: 375px){
    .logo{
        width: 60px;
        height: 60px;
        background-color: yellow;
        float: left;
    }
    .left-bar{
        width: 100%;
        height:20vh;
        display: flex;
        align-items:center;
}
.box1{
        width:100%;
        height:250px;
    }
.box2{
        width:100%;
        height:250px;
    }
.box3{
        width:100%;
        height:250px;
}
}